/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 5px;
    padding-bottom: 20px;
}


.let p {
    text-transform: lowercase;
}
.let p:first-letter {
        text-transform: uppercase;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.footer {
    background: #061D25;
    padding: 10px 0;
}

    .footer a {
        color: #70726F;
        font-size: 20px;
        padding: 10px;
        border-right: 1px solid #70726F;
        transition: all .5s ease;
    }

        .footer a:first-child {
            border-left: 1px solid #70726F;
        }

        .footer a:hover {
            color: white;
        }
